# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# AWS Configuration
src/aws-exports.ts
src/aws-exports.js
aws-exports.*
aws-config.*

# Amplify
.amplify/
amplify/team-provider-info.json
amplify/#current-cloud-backend
amplify/.config/local-*
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
amplify/backend/team-provider-info.json
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample

# CDK
infrastructure/cdk.out/
infrastructure/node_modules/
infrastructure/.env
infrastructure/cdk.context.json
